/* ============================== *\
 * Background clip
\* ============================== */

.background-clip(@argument) {
  -webkit-background-clip: @argument;
     -moz-background-clip: @argument;
          background-clip: @argument;
}
