/* ============================== *\
 * Text shadow
\* ============================== */

.text-shadow(@x: 10px, @y: 10px, @blur: 15px rgba(5, 5, 5, .55)) {
  -webkit-text-shadow: @horizontal @vertical @blur @color;
     -moz-text-shadow: @horizontal @vertical @blur @color;
      -ms-text-shadow: @horizontal @vertical @blur @color;
       -o-text-shadow: @horizontal @vertical @blur @color;
          text-shadow: @horizontal @vertical @blur @color;
}
